.card {
	height: 100%;
	transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
	transform-origin: center top 0px;
	border-radius: 10px !important;
	overflow: hidden;

	.overlay-image {
		transition: background-image 200ms;
		background: #2d2d2d;
	}

	@mixin dotting {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		max-width: fit-content;
		padding: 0;
		margin: 16px;
	}

	.title {
		@include dotting;
		-webkit-line-clamp: 2;
	}

	.creator {
		@include dotting;
		-webkit-line-clamp: 1;
		margin-top: unset !important;
	}
	
	.description {
		@include dotting;
		-webkit-line-clamp: 3;
		max-width: fit-content;
	}
}
.card.hover {
	background: lighten(#1e1e1e, 4%) !important;
	transform: translateY(-2px);
}
