// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$themezer-orange: #b4410a;
$themezer-blue: #0a3cb4;

$themezer-magenta: #B40A86;
$themezer-average: #5f5eff;
$themezer-aqua: #0AB379;